body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}

h3{
    font-weight: bold;
}

table{
    border: 2px solid darkorchid;
    width: 97%;
    margin: 10px;
}
thead{
    background-color: plum;
}

.title{
    width: 97%;
    background-color: #141c3a;
    color: white;
    text-align: center;
}

.code{
    font-family: monospace;
    background-color: #eae9ed;
}
