h1{
    background-image: url("../images/pattern.jpeg");
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.price{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}

#brush{
    background-color: mediumseagreen;
}

#frame{
    background-color: lightcoral;
}

#paint{
    background-color: skyblue;
}